<nav class="navbar navbar-expand-lg p-3 navbar-light bg_white">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <img src="/assets/images/logos/Aspire.svg" alt="" srcset="">
        <div class="d-flex align-items-center">
            <form class="w-100 me-3 has-search">
                <img src="/assets/images/icons/icon_search.png" alt="" class="form-control-feedback">
                <input type="search" class="form-control bg_surface" placeholder="Search" aria-label="Search">
            </form>
            <div class="d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 1fr;">
                <a href="#" class="d-block">
                  <img src="/assets/images/icons/icon_notification.png" alt="mdo" width="30" height="30">
                </a>
              <a href="#" class="d-block">
                <img src="/assets/images/profile/monika.png" alt="mdo" width="48" height="48" class="rounded-circle">
              </a>
            </div>
        </div>
    </div>
</nav>