<div class="container" id="main-container">
    <div class="col-md-6 offset-md-3">
        <div class="card" >
            <h3>Create Teacher</h3>
    <form #TeacherForm = "ngForm" (ngSubmit) = "onSubmit()" method = "POST" *ngIf="isSuccessful == false">
        <div class="card" >
            
        <div class="form-group">
            <label> First Name</label>
            <input type="text" class ="form-control" id = "fname" name = "fname"
                required minlength="3" [(ngModel)] = "teacher.fname" #fname="ngModel">
                <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="alert">
                    <div *ngIf="fname.errors?.required">First name is required.</div>
                    <div *ngIf="fname.errors?.minlength">First name must be at least 3 characters long.</div>
                </div>
        </div>
        
        <div class="form-group">
            <label> Last Name</label>
            <input type="text" class ="form-control" id = "lname" name = "lname"
                required minlength="3" [(ngModel)] = "teacher.lname" #lname="ngModel">
                <div *ngIf="lname.invalid && (lname.dirty || lname.touched)" class="alert">
                    <div *ngIf="lname.errors?.required">Last name is required.</div>
                    <div *ngIf="lname.errors?.minlength">Last name must be at least 3 characters long.</div>
                </div>
        </div>

        <div class="form-group">
            <label> Date of Birth</label>
            <input type="date" class ="form-control" id = "dob" name = "dob"
                required [(ngModel)] = "teacher.dob" #dob="ngModel">
        </div>
    
        <div class="form-group">
            <label> Gender</label>
            <div class="form-check">
                <input type="radio" id = "gender" name = "gender" value="Male"
                    [(ngModel)] = "teacher.gender" #gender="ngModel">
                <label>&nbsp;Male</label>
            </div>
            <div class="form-check">
                <input type="radio" id = "gender" name = "gender" value="Female"
                    [(ngModel)] = "teacher.gender" #gender="ngModel">
                <label>&nbsp;Female</label>
            </div>
        </div>

        <div class="form-group">
            <label> Contact Number</label>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">+94</span>
            <input type="text" class ="form-control" id = "phone" name="phone"
            required ngModel pattern="[0-9]{9}" maxlength="9" [(ngModel)] = "teacher.phone" #phone="ngModel">
        </div>
        <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert">
            <div *ngIf="phone.errors?.required">Contact number is required.</div>
            <div *ngIf="phone.errors?.pattern">Invalid telephone number.</div>
        </div>

        <div class="form-group">
            <label> Email Address</label>
            <input type="text" class ="form-control" id = "email" name = "email"
                required [(ngModel)] = "teacher.email" #email="ngModel">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                    <div *ngIf="email.errors?.required">Email is required.</div>
                </div>
        </div>

        <div class="form-group">
            <label> Password</label>
            <input type="password" class ="form-control" id = "password" name = "password"
                required [(ngModel)] = "teacher.password" #password="ngModel">
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
                    <div *ngIf="password.errors?.required">Password is required.</div>
                </div>
        </div>
    </div>
    <div class="card" >

        <!-- <div class="input-group mb-3" *ngFor="let i = index" [ngModelGroup]="i"> -->
            <fieldset ngModelGroup="qualification">
                <div class="form-group">
                  <label>Title:</label>
                  <!-- <input type="text" name="title" ngModel> -->
                  <select class="form-select" id = "title" name = "title"
                  [(ngModel)] = "teacher.qualifititle" #title="ngModel">
                    <option disabled selected>Select qualification...</option>
                    <option value="1">Doctoral Degree</option>
                    <option value="2">Masters Degree</option>
                    <option value="3">Post Graduate Diploma</option>
                    <option value="4">Post Graduate Certificate</option>
                    <option value="5">Honours Bachelors Degree</option>
                    <option value="6">Bachelors</option>
                    <option value="7">Higher Diploma</option>
                    <option value="8">Diploma</option>
                    <option value="9">Advanced Certificate</option>
                    <option value="10">Certificate</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Description:</label>
                  <!-- <input type="text" name="description" ngModel> -->
                  <input type="text" class ="form-control" id = "description" name = "description"
                    [(ngModel)] = "teacher.description" #bank="ngModel">
                </div>
                <div class="form-group">
                  <label>University:</label>
                  <!-- <input type="text" name="university" ngModel> -->
                  <input type="text" class ="form-control" id = "university" name = "university"
                    [(ngModel)] = "teacher.university" #university="ngModel">
                </div>
                <!-- <button class="btn btn-primary" (click)="removeQualification(i)">Remove</button> -->
            </fieldset>
            <!-- <button class="btn btn-primary" (click)="addQualification()">+Add another</button> -->
        <!-- </div> -->

    </div>
    <div class="card" >    

        <div class="form-group">
            <label> Bank</label>
            <select class="form-select" id = "bank" name = "bank"
                [(ngModel)] = "teacher.bank" #bank="ngModel">
                    <option disabled selected>Select bank...</option>
                    <option value="1">BOC</option>
                    <option value="2">Cargills Bank</option>
                    <option value="3">Commercial Bank</option>
                    <option value="4">DFCC</option>
                    <option value="5">HNB</option>
                    <option value="6">HSBC</option>
                    <option value="7">NDB</option>
                    <option value="8">NTB</option>
                    <option value="9">PABC</option>
                    <option value="10">People's Bank</option>
                    <option value="11">Sampath Bank</option>
                    <option value="12">Union Bank</option>
            </select>
        </div>

        <div class="form-group">
            <label> Branch</label>
            <input type="text" class ="form-control" id = "branch" name = "branch"
                [(ngModel)] = "teacher.branch" #branch="ngModel">
        </div>

        <div class="form-group">
            <label> Account Number</label>
            <input type="text" class ="form-control" id = "accnum" name = "accnum"
                [(ngModel)] = "teacher.accnum" #bank="ngModel">
        </div>
    </div>
    <button class="btn btn-primary" [disabled]="!TeacherForm.valid" type="submit">Submit</button>
    &nbsp;<button class="btn btn-primary" (click)="reset()">Reset</button>
    </form>
    
    <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
        <button (click)="login()" class="btn btn-primary">Login</button>
    </div>

</div>
    

    

    <!-- <p>Form Value: {{ TeacherForm.value | json }}</p> -->
</div>