<div class="main">
    <div class="d-flex flex-column p-3 bg_">
        <ul class="nav nav-pills t_subtitle d-flex flex-column mb-auto">
            <li class="nav-item">
            <a [routerLink]="['/teacher/teacherclass']" routerLinkActive="c_medium_blue" class="nav-link c_davys_grey" aria-current="page">
                <img src="/assets/images/icons/icon_class.png" alt="mdo" width="30" height="30">
                Classes
            </a>
            </li>
            <li>
            <a [routerLink]="['/teacher/exams']" routerLinkActive="c_medium_blue" class="nav-link c_davys_grey">
                <img src="/assets/images/icons/icon_exams.png" alt="mdo" width="30" height="30">
                Exams
            </a>
            </li>
            <li>
            <a [routerLink]="['/teacher/list-result/T01']" routerLinkActive="c_medium_blue" class="nav-link c_davys_grey">
                <img src="/assets/images/icons/icon_grading.png" alt="mdo" width="30" height="30">
                Grading
            </a>
            </li>
            <li>
            <a [routerLink]="['/teacher/badge']" routerLinkActive="c_medium_blue" class="nav-link c_davys_grey">
                <img src="/assets/images/icons/icon_badge.png" alt="mdo" width="30" height="30">
                Badge
            </a>
            </li>
            <li>
            <a [routerLink]="['/teacher/free-card']" routerLinkActive="c_medium_blue" class="nav-link c_davys_grey">
                <img src="/assets/images/icons/icon_free_card.png" alt="mdo" width="30" height="30">
                Free Card
            </a>
            </li>
            <li>
            <a [routerLink]="['/teacher/qna']" routerLinkActive="c_medium_blue" class="nav-link c_davys_grey">
                <img src="/assets/images/icons/Icon_qna.png" alt="mdo" width="30" height="30">
                Q &  A
            </a>
            </li>
            <li>
            <a [routerLink]="['/teacher/payment']" routerLinkActive="c_medium_blue" class="nav-link c_davys_grey">
                <img src="/assets/images/icons/icon_payment.png" alt="mdo" width="30" height="30">
                Payment
            </a>
            </li>
            <li>
            <a [routerLink]="['/teacher/package']" routerLinkActive="c_medium_blue" class="nav-link c_davys_grey">
                <img src="/assets/images/icons/icon_package.png" alt="mdo" width="30" height="30">
                Package
            </a>
            </li>
            <li>
            <a [routerLink]="['/teacher/fees']" routerLinkActive="c_medium_blue" class="nav-link c_davys_grey">
                <img src="/assets/images/icons/icon_fees.png" alt="mdo" width="30" height="30">
                Fees
            </a>
            </li>
            <li>
            <a [routerLink]="['/teacher/notices']" routerLinkActive="c_medium_blue" class="nav-link c_davys_grey">
                <img src="/assets/images/icons/icon_notice.png" alt="mdo" width="30" height="30">
                Notice
            </a>
            </li>
        </ul>
        <ul class="nav nav-pills t_subtitle d-flex flex-column">
            <li class="nav-item">
            <a (click)="logout()" class="nav-link c_davys_grey cursor_p">
                <img src="/assets/images/icons/icon_logout.png" alt="mdo" width="30" height="30">
                Logout
            </a>
            </li>
        </ul>
        </div>
    </div>
    