<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css">
<br>
<div class="container">
    
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
        <div class="col">
            <div class="card radius-15 bg-primary">
                <div class="card-body text-center">
                    <div class="p-4 radius-15">
                        <img src="https://library.kissclipart.com/20180917/zzw/kissclipart-notice-board-icon-clipart-computer-icons-bulletin-5dadfd1fbc4616c5.png" width="110" height="110" class="rounded-circle shadow p-1 bg-white" alt="">
                        <h5 class="mb-0 mt-5 text-white">Create Notice</h5>
                        <p class="mb-3 text-white"></p>
                        <br><br><br>
                        <div class="d-grid"> <a [routerLink]="['/app/notices/create-notice']" class="btn btn-white radius-10"  class="btn btn-white radius-10" style="width: 80px; margin: auto;">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-15 bg-primary">
                <div class="card-body text-center">
                    <div class="p-4 radius-15">
                        <img src="https://cdn3.iconfinder.com/data/icons/contact-us-set-1/256/25-512.png" width="110" height="110" class="rounded-circle shadow p-1 bg-white" alt="">
                        <h5 class="mb-0 mt-5 text-white">Enquiries</h5>
                        <p class="mb-3 text-white"></p>
                        <br><br><br>
                        <div class="d-grid"> <a [routerLink]="['/app/notices/listallenquiries']" class="btn btn-white radius-10"  class="btn btn-white radius-10" style="width: 80px; margin: auto;">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
  
       
    </div>
</div>