<div>
    <table>
        <tr>
            <td>
                <br><br><br><br><br>
                <a [routerLink]="['/app/notices/create-notice']"><button style="padding: 10px; border:1px solied black;"><h3>Create Notice</h3></button></a>
            </td>
            <td>
                <br><br><br><br><br>
                <a [routerLink]="['/app/notices/list-notice']"><button style="padding: 10px; border:1px solied black;"><h3>Enquiry</h3></button></a>
            </td>
           
           
        </tr>
    </table>
  
</div>

