<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css">
<br>
<div class="container">
    
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
      
      
        <div class="col">
            <div class="card radius-15 bg-primary">
                <div class="card-body text-center">
                    <div class="p-4 radius-15">
                        <img src="https://www.gpjalna.ac.in/Assets/img/128/005-test.png" width="110" height="110" class="rounded-circle shadow p-1 bg-white" alt="">
                        <h5 class="mb-0 mt-5 text-white">Add Result</h5>
                        <p class="mb-3 text-dark"></p>
                        <br><br><br>
                        <div class="d-grid"> <a [routerLink]="['/teacher/exams/addresult',teacherID]" class="btn btn-white radius-10"  class="btn btn-white radius-10" style="width: 80px; margin: auto;">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-15 bg-primary">
                <div class="card-body text-center">
                    <div class="p-4 radius-15">
                        <img src="https://www.ibpsychmatters.com/x/cdn/?https://storage.googleapis.com/wzukusers/user-27641467/images/590ed30c161cdi2dVhUO/quiz_d400.png" width="110" height="110" class="rounded-circle shadow p-1 bg-white" alt="">
                        <h5 class="mb-0 mt-5 text-white">Quiz Marks</h5>
                        <p class="mb-3 text-dark"></p>
                        <br><br><br>
                        <div class="d-grid"> <a [routerLink]="['/teacher/exams/listquizmarks']" class="btn btn-white radius-10"  class="btn btn-white radius-10" style="width: 80px; margin: auto;">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
        <div class="col" >
            <div class="card radius-15 bg-primary">
                <div class="card-body text-center">
                    <div class="p-4 radius-15">
                        <img src="https://pcsc.instructure.com/courses/50/files/1070/preview?verifier=QdpVzmlEE38l7rjdLJ1GF955dhZFx8uAMEPkJyr5" width="110" height="110" class="rounded-circle shadow p-1 bg-white" alt="">
                        <h5 class="mb-0 mt-5 text-white">Assignment Marks</h5>
                        <p class="mb-3 text-dark"></p>
                        <br><br><br>
                        <div class="d-grid"> <a [routerLink]="['/teacher/exams/listassignmentmarks',teacherID]" class="btn btn-white radius-10"  class="btn btn-white radius-10" style="width: 80px; margin: auto;">View</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
