<div class="container" id="main-container">
    <div class="col-md-12 col-12 col-sm-12" >
    <div class="card" >
<h2>Students List</h2>

<br><br>

<div class="col-md-6">
    <button (click) = "addStudent()" class="btn btn-primary">Add New Student</button>
    <!-- &nbsp;<button (click) = "logout()" class="btn btn-primary">Logout</button> -->
</div>

<br>

<div class="row">  
    <div class="col-md-6">
        <div class="input-group">
            <span class="btn btn-primary">Search</span>
            <input class ="form-control" type="text" #fname (keyup)="0" placeholder="Search by first name">  
            <input class ="form-control" type="text" #lname (keyup)="0" placeholder="Search by last name">  
        </div>
    </div>

    <div class="col-md-2">
         
    </div>

    <div class="col-md-4">
        <div class="input-group">
            <span class="btn btn-primary" >Filter</span>
            <select (change)="onApprovedStatusChange($event)" class="form-select">
                <option selected disabled>Select Approved Status...</option>
                <option value="Pending">Pending</option>
                <option value="Approved">Approved</option>
                <option value="Rejected">Rejected</option>
          </select>
        </div>

    </div>  

<br><br>

<!-- <div>
	<button cdk-raised-button (click)="exporter.exportTable('xlsx',{fileName:'students_list'})">Excel</button>
	<button cdk-raised-button (click)="exporter.exportTable('csv',{fileName:'students_list'})">CSV</button>
	<button cdk-raised-button (click)="exporter.exportTable('json',{fileName:'students_list'})">JSON</button>
	<button cdk-raised-button (click)="exporter.exportTable('txt',{fileName:'students_list'})">TEXT</button>
</div> -->


    <div *ngIf="fname.value || lname.value || selectedApprovedStatus != 'Select Approved Status...' else all">
<div id="printList">
<table class="table mt-3" id = "student_table" #student_table>
    <thead class="table-light" >
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Approved?</th>
            <th>Active?</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor = "let student of students">
            <td *ngIf="student.fname.includes(fname.value) && student.lname.includes(lname.value) && student.approved.includes(selectedApprovedStatus)"> {{ student.personid }} </td>
            <td *ngIf="student.fname.includes(fname.value) && student.lname.includes(lname.value) && student.approved.includes(selectedApprovedStatus)"> {{ student.fname }} </td>
            <td *ngIf="student.fname.includes(fname.value) && student.lname.includes(lname.value) && student.approved.includes(selectedApprovedStatus)"> {{ student.lname }} </td>
            <td *ngIf="student.fname.includes(fname.value) && student.lname.includes(lname.value) && student.approved.includes(selectedApprovedStatus)"> {{ student.dob }} </td>
            <td *ngIf="student.fname.includes(fname.value) && student.lname.includes(lname.value) && student.approved.includes(selectedApprovedStatus)"> {{ student.gender }} </td>
            <td *ngIf="student.fname.includes(fname.value) && student.lname.includes(lname.value) && student.approved.includes(selectedApprovedStatus)"> {{ student.email }} </td>
            <td *ngIf="student.fname.includes(fname.value) && student.lname.includes(lname.value) && student.approved.includes(selectedApprovedStatus)"> {{ student.phone }} </td>
            <td *ngIf="student.fname.includes(fname.value) && student.lname.includes(lname.value) && student.approved.includes(selectedApprovedStatus)"> {{ student.approved }} </td>
            <td *ngIf="student.fname.includes(fname.value) && student.lname.includes(lname.value) && student.approved.includes(selectedApprovedStatus)"> {{ student.active }} </td>
            <td *ngIf="student.fname.includes(fname.value) && student.lname.includes(lname.value) && student.approved.includes(selectedApprovedStatus)">
                <a (click) = "viewStudent(student.personid)"><img src="/assets/images/icons/icon_view.png" width="30"></a>
                &nbsp;<a (click) = "editStudent(student.personid)"><img src="/assets/images/icons/icon_edit.png" width="30"></a>
                &nbsp;<a (click) = "deleteStudent(student.personid)"><img src="/assets/images/icons/icon_delete.png" width="30"></a>
            </td>
        
        </tr>
    
    </tbody>
</table>
</div>
</div>
       
<ng-template #all>
 
    <table class="table mt-3" id = "student_table" #student_table>
        <thead class="table-light">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Approved?</th>
                <th>Active?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let student of students">
                <td> {{ student.fname }} </td>
                <td> {{ student.lname }} </td>
                <td> {{ student.dob }} </td>
                <td> {{ student.gender }} </td>
                <td> {{ student.email }} </td>
                <td> {{ student.phone }} </td>
                <td> {{ student.approved }} </td>
                <td> {{ student.active }} </td>
                <td>
                    <a (click) = "viewStudent(student.personid)"><img src="/assets/images/icons/icon_view.png" width="30"></a>
                    &nbsp;<a (click) = "editStudent(student.personid)"><img src="/assets/images/icons/icon_edit.png" width="30"></a>
                    &nbsp;<a (click) = "deleteStudent(student.personid)"><img src="/assets/images/icons/icon_delete.png" width="30"></a>
                </td>
            </tr>
        </tbody>
    </table>

</ng-template>

<div class="row">
    
    <div class="col p-4 d-flex flex-row justify-content-end gap-3">
        <span>Print filtered list: </span>
        <!-- <a class="cursor_p" (click)="export('pdf')"><img src="/assets/images/icons/pdf.png" alt="mdo" width="30" height="30"></a>
        <a class="cursor_p" (click)="Print()"><img src="/assets/images/icons/pdf.png" alt="mdo" width="30" height="30"></a> -->
        <a class="cursor_p" (click)="exportPdf()"><img src="/assets/images/icons/pdf.png" alt="mdo" width="30" height="30"></a>
        <a class="cursor_p" (click)="exportExcel()"><img src="/assets/images/icons/xlsx.png" alt="mdo" width="30" height="30"></a>
    </div>
    <br><br>
    <div class="col p-4 d-flex flex-row justify-content-end gap-3">
        <span>Export full list as: </span>
        <!-- <a class="cursor_p" (click)="export('pdf')"><img src="/assets/images/icons/pdf.png" alt="mdo" width="30" height="30"></a>
        <a class="cursor_p" (click)="Print()"><img src="/assets/images/icons/pdf.png" alt="mdo" width="30" height="30"></a>
        <a class="cursor_p" (click)="exportPdf()"><img src="/assets/images/icons/pdf.png" alt="mdo" width="30" height="30"></a> -->
        <a class="cursor_p" (click)="exportToExcel()"><img src="/assets/images/icons/xlsx.png" alt="mdo" width="30" height="30"></a>
        <a class="cursor_p" (click)="exportToCsv()"><img src="/assets/images/icons/csv.png" alt="mdo" width="30" height="30"></a>
    </div>
</div>
                                           
</div>
</div>