<!--   

<div class = "row">
<div class = "col-sm-8">

    <p>Badge</p>

        <div class="grid-container">
            <div class="grid-item"><b>BadgeID</b></div>
            <div class="grid-item"><b>Grade</b></div>
            <div class="grid-item"><b>Subject</b></div>
        </div>

        <br>

        <div class="grid-container">
            <div class="grid-item">Sc123</div>
            <div class="grid-item">Grade 09</div>
            <div class="grid-item">Science</div>
            <div class="grid-item">Ma456</div>
            <div class="grid-item">Grade 08</div>
            <div class="grid-item">Maths</div>
            <div class="grid-item">Hi789</div>
            <div class="grid-item">Grade 10</div>
            <div class="grid-item">History</div>
            <div class="grid-item">En005</div>
            <div class="grid-item">Grade 07</div>
            <div class="grid-item">English</div>
        </div>
 
</div>


<div class="col-sm-4">
    <p>Add a badge</p>

    <div class="grid-container-badge-grade">
        <div class="grid-item"><b>BadgeID</b></div>
    </div>
</div>

</div> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 bg_white" style="box-shadow: 1px 0 20px 0 #c7c4c438;">
           
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xl-7 p-5">
            <div class="row t_subtitle c_rich_black mb-2">
                <div class="col">
                    Badges
                </div>
            </div>
           
            <div class="data_list">
                <div class="row rounded-3 bg_white c_rich_black mb-4">
                    <div class="form-control border-white c_davys_grey"></div>
                    <div class="col p-3">BadgeID</div>
                    <div class="col p-3">Grade</div>
                    <div class="col p-3">Subject</div>
                </div>
                <div class="data_list rounded-3 bg_white">
                    <div class="row border_aspire">
                        <div class="col p-3">SC123</div>
                        <div class="col p-3">Grade 09</div>
                        <div class="col p-3">Science</div>
                    </div>
                    <span class="border-bottom"></span>

                        <div class="row border_aspire">
                            <div class="col p-3">SC123</div>
                            <div class="col p-3">Grade 09</div>
                            <div class="col p-3">Science</div>
                    </div>

                    <span class="border-bottom"></span>

                    <div class="row border_aspire">
                        <div class="col p-3">SC123</div>
                        <div class="col p-3">Grade 09</div>
                        <div class="col p-3">Science</div>
                    </div>

                    <span class="border-bottom"></span>

                    <div class="row border_aspire">
                        <div class="col p-3">SC123</div>
                        <div class="col p-3">Grade 09</div>
                        <div class="col p-3">Science</div>
                    </div>

                    <span class="border-bottom"></span>

                    <div class="row border_aspire">
                        <div class="col p-3">SC123</div>
                        <div class="col p-3">Grade 09</div>
                        <div class="col p-3">Science</div>
                    </div>

                    <span class="border-bottom"></span>

                    <div class="row border_aspire">
                        <div class="col p-3">SC123</div>
                        <div class="col p-3">Grade 09</div>
                        <div class="col p-3">Science</div>
                    </div>
                </div>
            </div>
        
        </div>

        <div class="col-6 col-md-4 col-lg-3 col-xl-2 " >
            <div class="row t_subtitle c_rich_black mb-2">
                <div class="col">
                    <br><br>
                    <br>
                    Add New Badge
                    <br><br>
                </div>

                <div class="t_pre_title">
                    GRADE
                </div>
                <br>

                <div class="row rounded-3 bg_white c_rich_black mb-4">
                    <div class="form-control border-white c_davys_grey"></div>
                    <div class="t_body">Grade 09</div>
                </div>

                <div class="t_pre_title">
                    SUBJECT
                </div>
                <br>

                <div class="row rounded-3 bg_white c_rich_black mb-4">
                    <div class="form-control border-white c_davys_grey"></div>
                    <div class="t_body">Science</div>
                </div>

                <div class="t_pre_title">
                    Condition
                </div>
                <br>

                <div class="row rounded-3 bg_white c_rich_black mb-4">
                    <div class="form-control border-white c_davys_grey"></div>
                    <div class="t_body">Select</div>
                </div>

                <div class="t_pre_title">
                    Description
                </div>
                <br>

                <div class="row rounded-3 bg_white c_rich_black mb-4">
                    <div class="form-control border-white c_davys_grey"></div>
                    <div class="t_body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id nibh tortor id aliquet.</div>
                </div>
            </div>
           
        </div>
    </div>
</div>
