

<div class= "body">
<div class="container-fluid" id="main-container">
    <div class="row">
        <!-- <div class="col-6 col-md-4 col-lg-3 col-xl-2 bg_white" style="box-shadow: 1px 0 20px 0 #c7c4c438;">
           
        </div> -->
        
         <div class="row t_subtitle c_rich_black mb-2">
            <div class="col">
                <b>Badges</b>
            </div>
        </div>
        <br><br><br>
        <div  class="col-6 col-md-4 col-lg-3 col-xl-8" style="box-shadow: 1px 0 20px 0 #c7c4c438;">
        <form action="">
            <div class="row t_subtitle mb-4 c_rich_black">
                
            </div>
       </form>
        <div class="data_list">
            <div class="row rounded-3 bg_white c_rich_black mb-4">
                <div class="col p-3"><b>BadgeName</b></div>
                <div class="col p-3"><b>Grade</b></div>
                <div class="col p-3"><b>Subject</b></div>   
            </div>
            <div *ngFor="let badge of badges" class="data_list rounded-3 bg_white">
                <div class="row border_aspire position-relative">
                    <div class="col p-3">{{badge?.badgeName}}</div>
                    <div class="col p-3">{{badge?.classID}}</div>
                    <div class="col p-3">{{badge?.subjectID}}</div>
                   
                    <div class="data_list hover_show">
                        <div class="row overlay_gradient position-absolute top-0 w-100 h-100">
                            <div class="border-start border-5 bc_medium_blue d-flex  justify-content-end p-3 align-items-center gap-4">
                            <a href="onOpenModal(badge, 'update')"><img src="/assets/images/icons/icon_edit.png" alt="mdo" width="30" height="30"></a>
                            <a href="onOpenModal(badge, 'delete')"><img src="/assets/images/icons/icon_delete.png" alt="mdo" width="30" height="30"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="border-bottom"></span>
                
            </div>
        
        </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3 col-xl-1 " >

    </div>
    
        <!-- add a badge form -->
        <div class="col-6 col-md-4 col-lg-3 col-xl-3 " >
           
            <!-- <div class="row t_subtitle c_rich_black mb-2">
                <div class="col">
                    <br>
                    <b>Add New Badge</b>
                    <br><br>
                </div>

                <div class="t_pre_title">
                    <b>BADGE NAME</b>
                    
                </div>
                <br>

                <div class="row rounded-3 bg_white c_rich_black mb-4" style="box-shadow: 1px 0 20px 0 #c7c4c438;">
                    <div class="form-control border-white c_davys_grey" bgcolour="white"></div>
                        <input type = "text" name = "name" bgcolour = "white" required >
                    
                </div>

                <div class="t_pre_title">
                    <b>GRADE</b>
                </div>
                <br>

                <div class="row rounded-3 bg_white c_rich_black mb-4" style="box-shadow: 1px 0 20px 0 #c7c4c438;">
                    <div class="form-control border-white c_davys_grey" bgcolour="white"></div>
                        <input type = "text" name = "grade" bgcolour = "white" required >
                    
                    
                </div>

                <div class="t_pre_title">
                    <b>SUBJECT</b>
                </div>
                <br>

                <div class="row rounded-3 bg_white c_rich_black mb-4" style="box-shadow: 1px 0 20px 0 #c7c4c438;">
                    <div class="form-control border-white c_davys_grey"></div>
                        <input type = "text" name = "subject" bgcolour = "white" required >
                    
                   
                </div>

                <div class="t_pre_title">
                    <b>CONDITION</b>
                </div>
                <br>

                <div class="row rounded-3 bg_white c_rich_black mb-4" style="box-shadow: 1px 0 20px 0 #c7c4c438;">
                    <div class="form-control border-white c_davys_grey"></div>
                        <input type = "text" name = "condition" bgcolour = "white" required >
                    
                    
                </div>

                <div class="t_pre_title">
                    <b>DESCRIPTION</b>
                </div>
                <br>

                <div class="row rounded-3 bg_white c_rich_black mb-4" style="box-shadow: 1px 0 20px 0 #c7c4c438;">
                    <div class="form-control border-white c_davys_grey"></div>
                    <input type = "text" name = "description" bgcolour = "white" required >
                </div>
                <br>

                <div class="row rounded-3 bg_white c_rich_black mb-4" style="box-shadow: 1px 0 20px 0 #c7c4c438;">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    CREATE
                </button>
                </div>
                
            </div> -->


            <div class="row t_subtitle c_rich_black mb-2">
                <div class="col">
                    <br>
                    <b>Add New Badge</b>
                    <br><br>
                </div>
            </div>   

            <form #addForm = "ngForm" (ngSubmit)="onAddBadge(addForm)">
                <!-- Name input -->
                <div class="form-outline mb-4">
                  <input type="text" ngModel id="form4Example1" class="form-control"  required />
                  <label class="form-label" for="form4Example1">Badge Name</label>
                </div>
              
                <!-- Grade input -->
                <div class="form-outline mb-4">
                  <input type="grade" ngModel id="form4Example2" class="form-control" required/>
                  <label class="form-label" for="form4Example2">Grade</label>
                </div>

                <!-- Subject input -->
                <div class="form-outline mb-4">
                    <input type="subject" ngModel id="form4Example2" class="form-control" required/>
                    <label class="form-label" for="form4Example2">Subject</label>
                  </div>

                  <!-- condition input -->
                <div class="form-outline mb-4">
                    <input type="condition" ngModel id="form4Example2" class="form-control" required/>
                    <label class="form-label" for="form4Example2">Condition</label>
                  </div>
              
                <!-- description input -->
                <div class="form-outline mb-4">
                  <textarea class="form-control" ngModel id="form4Example3" rows="4" required></textarea>
                  <label class="form-label" for="form4Example3">Description</label>
                </div>
              
              
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4" >CREATE </button>
              </form>
        
   
        </div>


        <!-- update employee model -->
        <div class = "modal fade" id = "updateBadgeModal" tabindex="-1" role = "dialog" aria-labelledby="updateBadgeModalLabel">

        </div>

        <!-- delete employee model -->
        <div class = "modal fade" id = "deleteBadgeModal" tabindex="-1" role = "dialog" aria-labelledby="deleteBadgeModalLabel">

        </div>

    </div>
</div>
</div>



