
<div class="row" id="deleteConfirm" style="display: none;">
    <div class="modal-asp d-flex align-items-center" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content border-0 rounded-4">
                <div class="modal-body p-4 text-left">
                <h6 class="t_subtitle c_rich_black">Are you sure to delete this badge?</h6>
                <span class="t_body">If you delete this badge, it cannot be undone. Please make sure that before taking the action.</span>
                </div>
                <div class="d-flex gap-4 justify-content-center my-4 p-0">
                <button type="button" (click)="onDismiss('deleteConfirm')" class="btn c_rich_black bg_surface col-5 rounded-2">Cancel</button>
                <button type="button" (click)="deleteBadge(delID)" class="btn c_white bg_medium_blue col-5 rounded-2">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row position-relative" style="z-index: 1; display: none;" id="insideNotice">
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 p-0 position-fixed bottom-0 end-0">
        <div class="row d-flex align-items-center bg_white p-3 m-4 rounded-3 gap-4" style="box-shadow: 0 0 15px 0 #77777777;">
            <div class="col-auto">
                <img src="/assets/images/icons/icon_correct.png" alt="mdo" width="30" height="30">
            </div>
            <div class="col">
                {{ addMessage }}
            </div>
            <div class="col-auto">
                <a class="cursor_p" (click)="onDismiss('insideNotice')"><img src="/assets/images/icons/icon_close.svg" alt="mdo" width="15" height="15"></a>
            </div>
        </div>
    </div>
</div>

<div class= "body">
<div class="container-fluid" id="main-container">
    <div class="row">
        <!-- <div class="col-6 col-md-4 col-lg-3 col-xl-2 bg_white" style="box-shadow: 1px 0 20px 0 #c7c4c438;">
           
        </div> -->
        
         <div class="row t_subtitle c_rich_black mb-2">
            <div class="col">
                <b>Badges</b>
            </div>
        </div>
        <br><br><br>
        <div  class="col-6 col-md-4 col-lg-3 col-xl-8">
        <form action="">
            <div class="row t_subtitle mb-4 c_rich_black">
                
            </div>
       </form>
        <div class="data_list">
            <div class="row rounded-3 bg_white c_rich_black mb-4">
                <div class="col p-3"><b>BadgeName</b></div>
                <div class="col p-3"><b>Grade</b></div>
                <div class="col p-3"><b>Subject</b></div>   
            </div>
            <div *ngFor="let badge of badges" class="data_list rounded-3 bg_white">
                <div class="row border_aspire position-relative">
                    <div class="col p-3">{{badge?.badgeName}}</div>
                    <div class="col p-3">{{badge?.classID}}</div>
                    <div class="col p-3">{{badge?.subjectName}}</div>
                   
                    <div class="data_list hover_show">
                        <div class="row overlay_gradient position-absolute top-0 w-100 h-100">
                            <div class="border-start border-5 bc_medium_blue d-flex  justify-content-end p-3 align-items-center gap-4">
                            <a class = "cursor_p" (click)="getBadge(badge.badgeID)"><img src="/assets/images/icons/icon_edit.png" alt="mdo" width="30" height="30"></a>
                            <a class = "cursor_p" (click)= "deleteConfirm(badge.badgeID)"><img src="/assets/images/icons/icon_delete.png" alt="mdo" width="30" height="30"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="border-bottom"></span>
                
            </div>
            <div *ngIf="badges.length == 0" class="data_list rounded-3 bg_white p-3 text-center">
                No badges to show. Please add one to show.
            </div>
        
        </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3 col-xl-1 " >

    </div>
    
        <!-- add a badge form -->
        <div class="col-6 col-md-4 col-lg-3 col-xl-3 " >

            <!-- <div *ngIf="feeOne.feeID == ''; else UpdateBox" class="col-12 col-sm-12 col-lg-4 col-xl-3"> -->
                <div *ngIf="badgeOne.badgeID == 0; else UpdateBox" class="col-12 col-sm-12 col-lg-4 col-xl-12">
                <div class="row mb-4">
                    <span id="addOrUpdateBadge" class="t_subtitle c_rich_black">Add New Badge</span>
                </div>
                <form class="d-flex flex-column gap-4 c_rich_black" #addBadgeForm="ngForm" (ngSubmit)="addBadge(addBadgeForm)">
                    <div class="col">
                        <label class="t_pre_title form-label" for="badge_name">Badge Name</label>
                        <input type="text" ngModel name="badgeName"  placeholder="" class="form-control border-white c_davys_grey" id="">
                    </div>
                    <div class="col">
                        <label class="t_pre_title form-label" for="grade">Grade</label>
                        <input type="text" ngModel name="classID" required placeholder="" class="form-control border-white c_davys_grey" id="">
                    </div>
                    <div class="col">
                        <label class="t_pre_title form-label" for="subject">Subject</label>
                        <input type="text" ngModel name="subjectName" required placeholder="" class="form-control border-white c_davys_grey" id="">
                    </div>
                    <div class="col">
                        <label class="t_pre_title form-label" for="condition">Condition</label>
                        <input type="text" ngModel name="conditions" required placeholder="" class="form-control border-white c_davys_grey" id="">
                    </div>
                    <div class="col">
                        <label class="t_pre_title form-label" for="description">Description</label>
                        <input type="text" ngModel name="description" required placeholder="" class="form-control border-white c_davys_grey" id="">
                    </div>
                    <button type="submit"  [disabled]="addBadgeForm.invalid" id="btnAddOrUpdate" class="btn btn-primary rounded-pill t_button">CREATE</button>
                </form>
            </div>
            
            <ng-template #UpdateBox>
                <div class="col-12 col-sm-12 col-lg-4 col-xl-12">
                    <div class="row mb-4">
                        <span id="addOrUpdateBadge" class="t_subtitle c_rich_black">Update Badge</span>
                    </div>
                    <form class="d-flex flex-column gap-4 c_rich_black" #updateBadgeForm="ngForm" (ngSubmit)="updateBadge(updateBadgeForm, badgeOne.badgeID)">
                        <div class="col">
                            <label class="t_pre_title form-label" for="Badge_name">Badge Name</label>
                            <input type="text" ngModel="{{ badgeOne.badgeName }}" name="badgeName"  required placeholder="Default" class="form-control border-white c_davys_grey" id="">
                        </div>
                        <div class="col">
                            <label class="t_pre_title form-label" for="grade">Grade</label>
                            <input type="text" ngModel="{{ badgeOne.classID }}" name="classID"  required placeholder="Default" class="form-control border-white c_davys_grey" id="">
                        </div>
                        <div class="col">
                            <label class="t_pre_title form-label" for="subject">Subject</label>
                            <input type="text" ngModel="{{ badgeOne.subjectName }}" name="subjectID"  required placeholder="Default" class="form-control border-white c_davys_grey" id="">
                        </div>
                        <div class="col">
                            <label class="t_pre_title form-label" for="condition">Condition</label>
                            <input type="text" ngModel="{{ badgeOne.conditions }}" name="conditions"  required placeholder="Default" class="form-control border-white c_davys_grey" id="">
                        </div>
                        <div class="col">
                            <label class="t_pre_title form-label" for="description">Description</label>
                            <input type="text" ngModel="{{ badgeOne.description }}" name="description"  required placeholder="Default" class="form-control border-white c_davys_grey" id="">
                        </div>
                       
                        <button type="submit" [disabled]="updateBadgeForm.invalid" id="btnAddOrUpdate" class="btn btn-primary rounded-pill t_button">UPDATE</button>
                    </form>
                </div>
                </ng-template>
     
        </div>


    </div>
</div>
</div>



