<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<br><br><br>
<div  class="container" id="main-container">
<div class="container bootstrap snippets bootdey">
    <div class="table-responsive">
        <!-- PROJECT TABLE -->
        <table class="table colored-header datatable project-list" id="quiz">
            <thead>
                <tr>
                    <th>EnquiryID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Message</th>
                    <th>Send</th>
                    <th>Action</th>
                  
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let enquiry of  enquiries">
                    <td>{{enquiry.enquiryid}}</td>
                    <td>{{enquiry.name}}</td>
                    <td>{{enquiry.email}}</td>
                    <td>{{enquiry.message}}</td>
                    <td><a href="mailto:{{enquiry.email}}">Send email</a></td>
                    <td><a (click)="onOpenModel(enquiry,'delete')"   data-confirm="Are You Sure?|This action can not be undone. Do you want to continue?" data-confirm-yes="alert('Deleted')" data-original-title="Delete"><img src="/assets/images/icons/icon_delete.png" width="30"></a></td>
                    
                </tr>
             
            </tbody>
        </table>
        <!-- END PROJECT TABLE -->
    </div>
</div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteEnquiryModal" tabindex="-1" role="dialog" aria-labelledby="deleteEnquiryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-danger text-white">
              <h5 class="modal-title" id="deleteModalLabel">Delete Enquiry</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
              <p>Are you sure you want to delete  {{deleteEnquiry?.enquiryid}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
              <button  (click) = "ondeleteEnquiry(deleteEnquiry?.enquiryid)"   class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
            </div>
          
          </div>
        </div>
      </div>

    </div>