<div class="container" id="main-container">
    <div class="card" >

    <br><br>

    <nav class="nav-item">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" data-bs-toggle="tab" (click)="toggleEditor('students')"><h5>Students List</h5></button>
            <button class="nav-link" data-bs-toggle="tab" (click)="toggleEditor('teachers')"><h5>Teachers List</h5></button>
        </div>
    </nav>
  
    <br><br>

    <app-student-list *ngIf="showStudentsList"></app-student-list>
    <app-teacher-list *ngIf="showTeachersList"></app-teacher-list>
    
    </div>
</div>