
<div class="form-box">
    <div class="button-box">
        <div id="btn"></div>
        <a [routerLink]="['/app/exams/create-exam',sid]"><button type="button" class="toggle-btn">Create Exam</button></a>
        <a [routerLink]="['/app/exams/listallexam',sid]"><button type="button" class="toggle-btn">View All</button></a>
    </div>
   
<br><br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />


<div class="container" id="main-container">
<div class="col-md-12 col-12 col-sm-12" >
    <div class="card">
      <div class="card-body" >
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody><tr>
              
              <th>ExamID</th>
              <th>Key</th>
              <th>TeacherID</th>
              <th>ClassID</th>
              <th>SubjectID</th>
              <th>ExamName</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let exam of exams">
              
              <td>{{exam.examID}}</td>
              <td>{{exam.key}}</td>
              <td>{{exam.teacherID}}</td>
              <td>{{exam.classID}}</td>
              <td>{{exam.subjectID}}</td>
              <td>{{exam.examName}}</td>
              <td>
                <a (click)="onOpenModel(exam,'edit')" class="btn btn-primary btn-action mr-1"  title="" data-original-title="Edit" style="margin-right: 10px;"><i class="fas fa-pencil-alt"></i></a>
                <a (click)="onOpenModel(exam,'delete')" class="btn btn-danger btn-action"  title="" data-confirm="Are You Sure?|This action can not be undone. Do you want to continue?" data-confirm-yes="alert('Deleted')" data-original-title="Delete"><i class="fas fa-trash"></i></a>
              </td>
            </tr>
          </tbody></table>
        </div>
      </div>
    </div>
  </div>
  <!--Update  Modal -->
<div class="modal fade" id="updateExamModal" tabindex="-1" role="dialog" aria-labelledby="updateExamModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div  class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="exampleModalLabel">Update Exam</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm" >
          <div class="form-group">
            <label for="eid" class="form-label">ExamID</label>
            <input type="text" ngModel="{{updateExam?.examID}}" name="examID" class="form-control" id="eid" placeholder="ExamID" required>
          </div>
          <div class="form-group">
            <label for="key" class="form-label">Key</label>
            <input type="text" ngModel="{{updateExam?.key}}"name="key" class="form-control" id="key" placeholder="Key" required>
          </div>

          <div class="form-group">
            <label for="tid" class="form-label">TeacherID</label>
            <input type="text" ngModel="{{updateExam?.teacherID}}" name="teacherID" class="form-control" id="tid" placeholder="Tid" required>
          </div>
          <div class="form-group">
            <label for="cid" class="form-label">ClassID</label>
            <input type="text" ngModel="{{updateExam?.classID}}"   name="classID" class="form-control" id="cid" placeholder="ClassID" required>
          </div>
          <div class="form-group">
            <label for="sid" class="form-label">SubjectID</label>
            <input type="text" ngModel="{{updateExam?.subjectID}}"  name="subjectID" class="form-control" id="sid" placeholder="SubjectID" required>
          </div>
          <div class="form-group">
            <label for="ename" class="form-label">ExamName</label>
            <input type="text" ngModel="{{updateExam?.examName}}"   name="examName" class="form-control" id="ename" placeholder="ExamName" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="onUpdateExam(editForm.value)"  data-bs-dismiss="modal" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteExamModal" tabindex="-1" role="dialog" aria-labelledby="deleteExamModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div  class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="deleteModalLabel">Delete Exam</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        
       
      </div>
      
      <div class="modal-body">
        <p>Are you sure you want to delete Exam {{deleteExam?.examID}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button  (click) = "ondeleteExam(deleteExam?.examID)"   class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
      </div>
    
    </div>
  </div>
</div>
</div>

    </div>
    
