<div class="row" id="deleteConfime" style="display: none;">
    <div class="modal-asp d-flex align-items-center" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content border-0 rounded-4">
                <div class="modal-body p-4 text-left">
                    <h6 class="t_subtitle c_rich_black">Are you sure to delete this course?</h6>
                    <span class="t_body">If you delete this course, it cannot be undone. Please make sure that before
                        taking the action.</span>
                </div>
                <div class="d-flex gap-4 justify-content-center my-4 p-0">
                    <button type="button" (click)="onDismiss('deleteConfime')"
                        class="btn c_rich_black bg_surface col-5 rounded-2">Cancel</button>
                    <button type="button" (click)="deleteCourse(delID)"
                        class="btn c_white bg_medium_blue col-5 rounded-2">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row position-relative" style="z-index: 1; display: none;" id="insideNotice">
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 p-0 position-fixed bottom-0 end-0">
        <div class="row d-flex align-items-center bg_white p-3 m-4 rounded-3 gap-4"
            style="box-shadow: 0 0 15px 0 #77777777;">
            <div class="col-auto">
                <img src="/assets/images/icons/icon_correct.png" alt="mdo" width="30" height="30">
            </div>
            <div class="col">
                {{ addMessage }}
            </div>
            <div class="col-auto">
                <a class="cursor_p" (click)="onDismiss('insideNotice')"><img src="/assets/images/icons/icon_close.svg"
                        alt="mdo" width="15" height="15"></a>
            </div>
        </div>
    </div>
</div>

<div class="row t_subtitle mb-2">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item c_rich_black active" aria-current="page">Courses</li>
            </ol>
        </nav>
    </div>
</div>



<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let course of courses" class="col-md-6 col-xl-3">
            <a [routerLink]="['/teacher/teachercourseview']" class="nav-link c_davys_grey">
                <div class="card m-b-30">
                    <div class="row">
                        <div class="latest-img-wrapper">
                            <img src="/assets/images/courses photo/Courses.jpg" alt="mdo" width="205" height="150">
                        </div>

                        <div class="teacher profile">
                            <img src="/assets/images/class photo/1.jpg" alt="" width="27.72" height="27.72"
                                class="rounded-circle">
                            &nbsp; <b>Monika Sayoori</b>
                        </div>
                        <div class="latest-title">
                            <p style="color:red">Mathematics</p>
                        </div>
                        <div class="description">
                            {{course.description}}
                        </div>
                        <div class="price">
                            <h5>LKR 1,200</h5>
                        </div>
                        <div class='button'>
                            <button type="enroll" id="enroll"
                                class="btn btn-primary rounded-pill t_button">ENROLL</button>
                        </div>
                        <div class="float-right btn-group btn-group-sm">
                            <a class="cursor_p" (click)="deleteConfime( course.coursesID )"><img
                                    src="/assets/images/icons/icon_delete.png" alt="mdo" width="30" height="30"></a>
                            <a class="cursor_p" (click)="getCourse( course.coursesID )"><img
                                    src="/assets/images/icons/icon_edit.png" alt="mdo" width="30" height="30"></a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
  







        <div *ngIf="coursesOne.coursesID == ''; else UpdateBox" class="col-12 col-sm-12 col-lg-4 col-xl-3">
            <div class="row mb-4">
                <span id="addOrUpdateCourses" class="t_subtitle c_rich_black">Add New Courses</span>
            </div>
            <form class="d-flex flex-column gap-4 c_rich_black" #addCoursesForm="ngForm"
                (ngSubmit)="addCourse(addCoursesForm)">
                <div class="col">
                    <label class="t_pre_title form-label" for="description">Description</label>
                    <input type="text" ngModel name="description" required placeholder="Default"
                        class="form-control border-white c_davys_grey" id="">
                </div>
                <button type="submit" [disabled]="addCoursesForm.invalid" id="btnAddOrUpdate"
                    class="btn btn-primary rounded-pill t_button">Add</button>
            </form>
        </div>

        <ng-template #UpdateBox>
            <div class="col-12 col-sm-12 col-lg-4 col-xl-3">
                <div class="row mb-4">
                    <span id="addOrUpdateFee" class="t_subtitle c_rich_black">Update Courses</span>
                </div>
                <form class="d-flex flex-column gap-4 c_rich_black" #updateCoursesForm="ngForm"
                    (ngSubmit)="updateCourse(updateCoursesForm, coursesOne.coursesID)">
                    <div class="col">
                        <label class="t_pre_title form-label" for="description">Description</label>
                        <input type="text" ngModel="{{ coursesOne.description }}" name="description" required
                            placeholder="Default" class="form-control border-white c_davys_grey" id="">
                    </div>
                    <button type="submit" [disabled]="updateCoursesForm.invalid" id="btnAddOrUpdate"
                        class="btn btn-primary rounded-pill t_button">Update</button>
                </form>
            </div>
        </ng-template>