<div class="col-md-6 offset-md-3">
    <h3>Enroll Classes</h3>
</div>
<br><br>

<div class="boxed">
    <br>
<div class="id">
    <label>Class ID</label><br>
    <input type="text"  id = "id" name = "id">
</div>
<br>
<div class="subjectid">
    <label> Subject ID</label><br>
    <input type="text"  id = "subjectid" name = "id">
</div>
<br>
<div class="teacherid">
    <label> Teacher ID</label><br>
    <input type="text"  id = "teacherid" name = "id">
</div>
<br>
<div class="studentid">
    <label> Student ID</label><br>
    <input type="text"  id = "studentid" name = "id">
</div>
<br><br>
<button class="btn btn-primary" type="submit">Submit</button>

</div>