@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

html {
    background-color: #F6F6F6;
}

body {
    font-family: 'Work Sans', sans-serif !important;
    font-size: 16px;
    color: #595959;
    background-color: #F6F6F6;
}

/* Typo */
.t_h1 {
    font-weight: 700;
    font-size: 64px;
    letter-spacing: -2%;
}

.t_h2 {
    font-weight: 700;
    font-size: 48px;
    letter-spacing: -2%;
}

.t_h3 {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -2%;
}

.t_h4 {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -2%;
}

.t_h5 {
    font-weight: 700;
    font-size: 26px;
    letter-spacing: -1%;
}

.t_h6 {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -1%;
}

.t_subtitle {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -1%;
}

.t_body_large {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -1%;
}

.t_body {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -1%;
}

.t_bold {
    font-weight: 600;
    font-size: 16px;
}

.t_small_body {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2%;
}

.t_small_body_bold {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2%;
}

.t_pre_title {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 3%;
    text-transform: uppercase;
}

.t_button {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 3%;
    text-transform: uppercase;
}

.t_link {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1%;
    text-transform: uppercase;
}

/* Color */
.c_black { color: #000000; }
.c_rich_black { color: #121212; }
.c_davys_grey { color: #595959; }
.c_medium_blue { color: #183EFB; }
.c_error { color: #E30425; }
.c_success { color: #28E094; }
.c_warning { color: #FFEB4D; }
.c_surface { color: #F6F6F6; }
.c_white { color: #FFFFFF; }

.bg_black { background-color: #000000; }
.bg_rich_black { background-color: #121212; }
.bg_davys_grey { background-color: #595959; }
.bg_medium_blue { background-color: #183EFB; }
.bg_error { background-color: #E30425; }
.bg_success { background-color: #28E094; }
.bg_warning { background-color: #FFEB4D; }
.bg_surface { background-color: #F6F6F6; }
.bg_white { background-color: #FFFFFF; }

.bc_medium_blue {
    border-color: #183EFB !important;
}

.border_aspire {
    border-bottom: 1px solid #F6F6F6;
}

.has-search .form-control {
    padding-left: 2.375rem;
    border: none;
}

.has-search .form-control-feedback {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    padding: 6px;
    pointer-events: none;
}

.data_list > .row {
    --bs-gutter-x: none;
}

.circle_8 {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    display: inline-block;
}

.overlay_gradient {
    background-image: linear-gradient(to right,#F6F6F669,#F6F6F6E6);
}

.hover_show {
    opacity: 0;
    transition: ease-in-out 0.3s;
}

.hover_show:hover {
    opacity: 1;
}