<div class="row" id="deleteConfime" style="display: none;">
  <div class="modal-asp d-flex align-items-center" tabindex="-1">
      <div class="modal-dialog">
          <div class="modal-content border-0 rounded-4">
              <div class="modal-body p-4 text-left">
              <h6 class="t_subtitle c_rich_black">Are you sure to delete this subject?</h6>
              <span class="t_body">If you delete this subject, it cannot be undone. Please make sure that before taking the action.</span>
              </div>
              <div class="d-flex gap-4 justify-content-center my-4 p-0">
              <button type="button" (click)="onDismiss('deleteConfime')" class="btn c_rich_black bg_surface col-5 rounded-2">Cancel</button>
              <button type="button" (click)="deleteSubject(delID)" class="btn c_white bg_medium_blue col-5 rounded-2">Delete</button>
            </div>
          </div>
      </div>
  </div>
</div>

<div class="row position-relative" style="z-index: 1; display: none;" id="insideNotice">
  <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 p-0 position-fixed bottom-0 end-0">
      <div class="row d-flex align-items-center bg_white p-3 m-4 rounded-3 gap-4" style="box-shadow: 0 0 15px 0 #77777777;">
          <div class="col-auto">
              <img src="/assets/images/icons/icon_correct.png" alt="mdo" width="30" height="30">
          </div>
          <div class="col">
              {{ addMessage }}
          </div>
          <div class="col-auto">
              <a class="cursor_p" (click)="onDismiss('insideNotice')"><img src="/assets/images/icons/icon_close.svg" alt="mdo" width="15" height="15"></a>
          </div>
      </div>
  </div>
</div>

<div class="row t_subtitle mb-2">
  <div class="col">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item c_rich_black active" aria-current="page">Subject</li>
          </ol>
      </nav>
  </div>
</div>

<div class="container" id="main-container">
  <div class="row">
  <div *ngFor="let subject of subject" class="col-md-6 col-xl-3">
    <br>
    <div class="card m-b-30">
      <div class="row" >
        <div class="latest-img-wrapper">
          <img src="/assets/images/subject photo/Mathematics.jpg" alt="" width="238" height="150">
          </div>
          <div class="subjectname">
            <h5><b>{{subject.subjectName}}</b></h5>
        </div>
        <div class="description">
            {{subject.description}}
        </div>
        <div class="class">
            <a href="">  <img src="/assets/images/icons/icon_class.png" alt="" width="20" height="20"> </a>
             12 classes
        </div>
       <div class="float-right btn-group btn-group-sm">
        <a class="cursor_p" (click)="deleteConfime( subject.subjectID )"><img src="/assets/images/icons/icon_delete.png" alt="mdo" width="30" height="30"></a>
     </div>
                
    </div>
  </div>
  </div>







<div *ngIf="subjectOne.subjectID == '';"  class="col-md-6 col-xl-3">
  <br>
  <div class="row mb-4">
      <span id="addSubject" class="t_subtitle c_rich_black">Add New Subject</span>
  </div>
  <form class="d-flex flex-column gap-4 c_rich_black" #addSubjectForm="ngForm" (ngSubmit)="addSubject(addSubjectForm)">
      <div class="col">
        <label class="t_pre_title form-label" for="subject name">Subject Name</label>
        <input type="text" ngModel name="subjectName" required placeholder="Default" class="form-control border-white c_davys_grey" id="">
    </div>
    <div class="col">
      <label class="t_pre_title form-label" for="description">Description</label>
      <input type="text" ngModel name="description" required placeholder="Default" class="form-control border-white c_davys_grey" id="">
  </div>
    <button type="submit" [disabled]="addSubjectForm.invalid" id="btnAdd" class="btn btn-primary rounded-pill t_button">Add</button>
  </form>
</div>